// Specific CSS for your home-page
body{
  background: white;
  padding-top: 70px;
}
.search-bar-index {
  margin-left: 7px;
}
.search-bar-home {
  margin: 20px 0;
}
h3 {
  color: black;
  font-size: 30px;
  font-weight: normal;
}
