#background-image-new {
  margin-top: -22px;
  background-repeat:no-repeat;
  background-size: cover;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.container {
  padding-top: 120px;
}
// .form-suit-shared {
//   color: black;
//   label {
//     font-weight: lighter;
//   }
// }
#bouton-back {
  margin-top: 13px;
  text-align: center;
}
h3 {
  color: black;
  font-size: 30px;
  font-weight: normal;
}

.renting-form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-holder {
  display: none !important;
}
