.blank-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  width: 290px;
  height: 428px;
  margin: auto;
  overflow: hidden;
  border-radius: 9px 9px 9px 9px;
  border: 1px solid;
  opacity: 0.5;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.2);
  transform: scale(0.95);
  transition: box-shadow 0.5s,
  transform 0.5s;
  &:hover {
    transform: scale(0.96);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}
