.wrapper-show-renting {
  margin-top: 60px;
  min-height: 100vh;
  h1 {
    margin-left: 0;
  }
}
.order-review-and-chat {
  margin-top: 25px;
  .flex-container {
    display: flex;
    justify-content: center;
  }
  .flex-item {
  }
}
.order-recap {
  h1 {
    background: #DDDDDD;
    padding: 10px;
  }
  p {
    padding-left: 10px;
  }
}
.chat-wrapper {
  width: 67%;
}
.sender {
  font-weight: lighter;
  font-size: 16px;
  padding-left: 10px;
}
.chat-message {
  background: #edeaea;
  padding: 10px;
}
.chat-container {
  display: flex;
  justify-content: center;
}
