.show-image {
  width: 300px;
  height: 500px;
  border-radius: 2px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.2);
  &:hover{
    transform: scale(0.96);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  .card-container{
    width:100%;
    height:100%;
    .top{
      height: 100%;
      background: no-repeat center;
      // -webkit-background-size: 100%;
      // -moz-background-size: 100%;
      // -o-background-size: 100%;
      background-size: auto 100%;
    }
  }
}
.show-banner {
  // margin-top: 70px;
  // z-index: 2;
  // color: white;
  // text-align: center;
  height: 67vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: 67% 33%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-top: 0;
}
// .banner-under-navbar {
//   margin-top: -70px;
// }
.description-container {
  // background-color: white;
  // border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 20px;
  // margin-top: 10px;
  margin-bottom: 20px;
  // position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  p {
    margin: 5px;
  }
  h2 {
  color: black;
  font-weight: bold;
  }
  h3 {
  color: black;
  font-weight: lighter;
  font-size: 20px;
  }
}
.description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
