.show-banner {
  // margin-top: 70px;
  // z-index: 2;
  color: white;
  // text-align: center;
  height: 67vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-top: 0;
}
// .banner-under-navbar {
//   margin-top: -70px;
// }
.left {
  flex: 1;
}
.right {
  width: 400px;
}
