.show-banner {
  // margin-top: 70px;
  // z-index: 2;
  // color: white;
  // text-align: center;
  height: 67vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: 67% 33%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-top: 0;
}
// .banner-under-navbar {
//   margin-top: -70px;
// }
.show-container {
  display: flex
}

.show-left {
  flex: 300px;
}
.show-right {
  width: 1;
}

.description-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
  color: black;
  font-weight: bold;
  }
  h3 {
  color: black;
  font-weight: lighter;
  font-size: 20px;
  }
}

.description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
