<div class="new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-offset-md-3 col-md-6">
        <h1> Add a suit </h1>
        <div>
          <%= render 'form_suit' %>
        </div>
        <div>
          <%= link_to "Back", suits_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
