<div class="flex-container new-suit-background-image">
  <div class="flex-item" style="width: 34%;">
    <!-- <h3> Add a suit </h3> -->
    <div>
      <%= render 'form_suit' %>
    </div>
    <!-- <div id="bouton-back"> -->
      <%#= link_to "Back", suits_path, class: 'btn btn-primary' %>
    <!-- </div> -->
  </div>
</div>
