<!-- <div class="new-wrapper" id="background-image-new" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dnddzhvyj/image/upload/v1534845337/suit-banner.jpg');"> -->
  <div class="container new-suit-container flex-container" style="margin-top: -35px;">
    <div class="flex-item">
      <!-- <h3> Add a suit </h3> -->
      <div>
        <%= render 'form_suit' %>
      </div>
      <!-- <div id="bouton-back"> -->
        <%#= link_to "Back", suits_path, class: 'btn btn-primary' %>
      <!-- </div> -->
    </div>
  </div>
<!-- </div> -->
