<h1>My suits</h1>

  <div class="container">
    <div class="row">
      <% @suits.each do |suit| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://reinformation.tv/wp-content/uploads/2017/03/Costumes-Fran%C3%A7ois-Fillon-D%C3%A9ontologue-Assembl%C3%A9e-50.000-Euros-2-e1489414647801.jpg')">
            <div class="card-category"><%= link_to "(delete)", suit_path(suit),
                method: :delete,
                data: { confirm: "Are you sure?" } %></div>
            <div class="card-description">
              <h2><%= suit.name %></h2>
              <p><%= link_to "Show", suit_path(suit) %></p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          </div>
        </div>
      <% end %>
    </div>
  </div>
