#map {
  // flex: 0 0 450px;
  // position: sticky !important;
  // top:140px !important;
  height: 76vh;
}
.main-container {
  display: flex;
}
.map-container {
  flex: 0 0 440px;
  position: sticky !important;
  top:133px !important;
  height: 80vh;
  padding: 0px 30px 0px 0px;
}
