<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dnddzhvyj/image/upload/v1534845337/suit-banner.jpg');">
  <div class="banner-content">
    <h1>Suit-up</h1>
    <p>Not all superheroes wear capes</p>
    <a class="btn btn-medium btn-lg">Rent a suit now</a>
  </div>
</div>
