<div class="container rentings-container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs timeline-nav-flex" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="yellow-background" data-name="renter">My rentings history</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" data-name="owner">My owner history</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"> <%= render 'history_renter' %> </div>
    <div role="tabpanel" class="tab-pane" id="profile"> <%= render 'history_owner' %> </div>
  </div>
</div>
