.wrapper{
  width: 280px;
  height: 490px;
  margin: auto;
  overflow: hidden;
  border-radius: 2px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(0.96);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  .card-container{
    width:100%;
    height:100%;
    background: white;
    .top{
      height: 85%;
      background: no-repeat center;
      // -webkit-background-size: 100%;
      // -moz-background-size: 100%;
      // -o-background-size: 100%;
      background-size: auto 100%;
      box-shadow: 1px 4px 6px rgba(0,0,0,0.2);
    }
    .bottom{
      padding: 12px;
      h1 {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: gray;
        // font-weight: lighter;
      }
    }
  }
}

.card {
//   height: 371px;
//   width: 263px;
//   margin: 20px 0px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   color: white;
  position: relative;
}
.card-avatar {
  position: absolute;
  right: 10px;
  bottom: 65px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.33);
  border: white 1px solid;
}
.card-price {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 16px;
  background-color: white;
  opacity: 0.75;
  border-radius: 4px;
  padding: 6px;
  // letter-spacing: 1px;
}
// .card-description {
//   position: absolute;
//   width: 90%;
//   bottom: 10px;
//   left: 10px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  transition: all 0.3s ease;
}
.card-link:hover {
  opacity: 0.1;
}

.container-testimonials {
  .flex-container-testimonial {
  display: flex;
  justify-content: center;
  }
}

.card-description-testimonials {
  width: 230px;
  img {
    width: 130px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.wrapper-testimonials {
  max-width: 300px;
}

.flex-container-for-testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-quote {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  color: rgb(20,20,20);

}
