#color_color_selector {
  border-color: rgb(247, 202, 24);
  border-radius: 0 !important;
  border-width: 2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#style_style_selector {
  border-color: rgb(247, 202, 24);
  border-radius: 0;
  border-width: 2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#size_size_selector {
  border-color: rgb(247, 202, 24);
  border-radius: 0;
  border-width: 2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}


#submit-btn {
  border-color: rgb(247, 202, 24);
  background-color: rgb(247, 202, 24);
  border-radius: 0;
  border-width: 2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  box-shadow: none;
}
