#color_color_selector {
  border-radius: 0 !important;
  opacity: 0.8;
}
#style_style_selector {
  border-radius: 0;
  opacity: 0.8;
}
#size_size_selector {
  border-radius: 0;
  opacity: 0.8;
}
#submit-btn {
  border-color: rgb(247, 202, 24);
  background-color: rgb(247, 202, 24);
  border-radius: 0;
  color: rgb(0, 0, 0);
  box-shadow: none;
}
.suit-filter {
  display: flex;
  margin: 0 -2px;
  & > * {
    flex: 25%;
    margin: 0 2px;
  }
}
